html {
	scroll-behavior: smooth;
}


nav {
	/*text-decoration: none;*/
	margin-bottom: -80px;  /*SAVE FOR LG*/
	z-index: 1;
}

nav img {
	width: 150px; 
}

.nav-link {
	color: white;
	font-size: 16px;
	letter-spacing: 3px;

}

 nav li a:hover {
	border-bottom: 2px solid white;
	color: white;

}

.carousel-inner img {
	width: 100%;
	height: auto;
	animation: zoom 5s;
}

video {
	width: 100%;
	/*height: 100vh;*/

}

.carousel-item {
	z-index: 0;
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}

/*.carousel-inner .item > img {
  animation: zoom 20s;
}*/

.rank {
	color: blue;
}



.bg {
	background-color: black;
}

.char {
	opacity: 0.2;
  	transition: 0.3s;
}

.char:hover {
	opacity: 1;
	transform: scale(2);
}

.gal-img {
	width: 100%;
}

/*.gal-img:hover {
	opacity: 1;
	transform: scale(2);
}*/

#fbi {
	background-image: url('https://www.wallpaperflare.com/static/926/864/62/one-piece-one-piece-strawhat-wallpaper.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: -1;
}

footer {
	background-color: rgba(46, 49, 49, 0.3);
}

hr {
	background-color: rgba(46, 49, 49, 1);
}

.fa-facebook {
	color: #3b5998;
}

.fa-twitter {
	color: #00aced;
}

.fa-google-plus-g {
	color: #dd4239;
}

.fa-instagram {
	color: #517fa4;
}

.fa-youtube {
	color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
	color: #d5d5d5;
}

.social a {
	font-size: 7em;
	padding: 3rem;
}

}


.buytix {
	padding: 50px;
}

/*--- BOOTSTRAP PADDING FIX ---*/
[class*="col-"] {
	padding: 1rem;
}


/*--- MEDIA QUERIES ---*/
@media (min-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
	nav {
	margin-bottom: 10px;
	z-index: 1;
	}
	.char {
		width: 1350px;
	}
}

